html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
input:-webkit-autofill {
	background: #fff;
}
.mint-msgbox-input input {
	margin-left: 8%;
    width: 80% !important;
    height: 24px;
}